.listings {
    display: flex;
    flex-direction: row;
    margin: 3rem;
    font-size: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.listing {
    padding: 0.7rem;
    margin: 0.5rem 0;
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px -5px;
    background: rgb(183,148,146);
    width: 40%;
    margin: 5%;
    font-weight: bolder;
    transition: .5s;
    animation: ease-in-out;

}
.listing:hover .listing_details{
    transform: scale(1.1); 
    box-shadow: 0px 0px 15px 0px;
    background: rgba(255, 255, 255, 0.149) ;
}
.listing:hover{
    transform: scale(1.1); 
    box-shadow: 0px 0px 30px 0px ;
    
}
.listing_details{
    padding: 0.7rem;
    margin: 0.5rem 0;
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 0.5rem;
    
    transition: .5s;
    animation: ease-in-out;
    margin: 5%;
}

.listingForm__title {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-style: oblique;
    font-size: 3rem;

}

.listingForm {
    
    padding: 0.7rem;
    margin: 0.5rem 0;
    border: 1px solid black;
    padding: 3rem;
    border-radius: 0.5rem;
    
    background-color: rgba(183, 148, 146, 0.718);
    width: 50%;
   
    z-index: 1;
    position: absolute;

    
    
    font-weight: bolder;
    transition: .5s;
    animation: ease-in-out;

}
.listingForm:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 0px black;
    background-color: rgba(183, 148, 146, 0.914);


}
.create_left{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;

    
}
.create_left:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#a27169,#101e13);
    z-index: 1;
    mix-blend-mode: screen;
    
}
.create_left img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.body_create{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
    
    
}
.page__allTop{
    background: #EAE1DF;
}
.listing_header{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.listing_object{
    font-weight: normal;
}
.object_label{
    font-weight: bolder;
}

.full_form{
    font-size: 1.4rem;
    
}
.locationLabel{
    margin-right: 100%;
}

.selectLocation,
.selectFrequency {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1rem;
    
}
.form__button, .listing__button{
   font-weight: bolder;
   background-color: rgba(84, 94, 86, 0.678);
    border-radius: .5rem;
    border: solid rgb(96, 93, 93) 2px;
    margin-top: 1rem;
    font-size: 1rem;
    padding: .75rem;
    box-shadow: .25rem 0.25rem .95rem rgba(9, 8, 8, 0.452);
    color: #EAE1DF ;
    position: relative;
    z-index: 1;
}
.form__button span, .listing__button span{
    width: 0%;
    height: 100%;
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #545e56ad;
    z-index: -1;
    transition: .3s ;
}
.form__button:hover span, .listing__button:hover span{
    width: 100%;
    box-shadow: .5rem 0.5rem .75rem rgba(9, 8, 8, 0.452);
    
}
.listings_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.createButton_listings{
    background-color: rgba(84,94,86, 0.85);
    border-radius: .5rem;
    border: solid rgb(96, 93, 93) 2px;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: .75rem;
    box-shadow: .5rem 0.5rem .75rem rgba(9, 8, 8, 0.452);
    color: #EAE1DF ;
    position: relative;
    z-index: 1;
}

.createButton_listings span{
    width: 0%;
    height: 100%;
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #545e56ad;
    z-index: -1;
    transition: 0.35s ;
}
.createButton_listings:hover span{
    width: 100%;
}



.formLabels{
    font-size: 2rem;
    margin: .5rem;
    
}
.form-groupNew{
    margin-left: -4rem;
    
}
.provider_button{
    background-color: rgba(84, 94, 86, 0.582);
    border-radius: .5rem;
    border: solid rgba(0, 0, 0, 0.386) 2px;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: .75rem;
    box-shadow: .25rem 0.25rem .5rem rgba(9, 8, 8, 0.524);
    color: #EAE1DF ;
    margin: 2rem;
    position: relative;
    z-index: 1;
}

.provider_button span{
    width: 0%;
    height: 100%;
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #545e56ad;
    z-index: -1;
    transition: 0.5s ;
}
.provider_button:hover span{
    width: 100%;
}
.listing_number{
    display: flex;
    flex-direction: row-reverse;

}
.listing_footer{
    display: flex;
    flex-direction: column;
}


    @media screen and (min-width: 800px) {
        .form-groupNew{
            margin-left: -4rem;
            padding-right: 9rem;
        }
    }