.listings {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    font-size: 1.5rem;
}

.listing {
    padding: 0.7rem;
    margin: 0.5rem 0;
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(75, 69, 69, 0.652);
    background: rgb(183,148,146);
    
    margin: 5%;
    font-weight: bolder;

}
.listing_details{
    padding: 0.7rem;
    margin: 0.5rem 0;
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.193) ;

    margin: 5%;
}

.listingForm__title {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-style: oblique;
    font-size: 3rem;

}

.listingForm {
    padding: 0.7rem;
    margin: 0.5rem 0;
    border: 1px solid black;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(9, 8, 8, 0.452);
    background-color: rgba(183, 148, 146, 0.718);
    margin: 10%;
    font-weight: bolder;
}

.listing_header{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.listing_object{
    font-weight: normal;
}
.object_label{
    font-weight: bolder;
}

.full_form{
    font-size: 1.4rem;
    
}
.locationLabel{
    margin-right: 100%;
}

.selectLocation,
.selectFrequency {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1rem;
    
}
.form__button, .listing__button{
   font-weight: bolder;
   background-color: rgba(84, 94, 86, 0.678);
    border-radius: .5rem;
    border: solid rgb(96, 93, 93) 2px;
    margin-top: 1rem;
    font-size: 1rem;
    padding: .75rem;
    box-shadow: .25rem 0.25rem .95rem rgba(9, 8, 8, 0.452);
    color: #EAE1DF ;
    position: relative;
    z-index: 1;
}
.form__button span, .listing__button span{
    width: 0%;
    height: 100%;
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #545e56ad;
    z-index: -1;
    transition: 155ms ;
}
.form__button:hover span, .listing__button:hover span{
    width: 100%;
    box-shadow: .5rem 0.5rem .75rem rgba(9, 8, 8, 0.452);
}
.listings_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.createButton_listings{
    background-color: rgba(84,94,86, 0.85);
    border-radius: .5rem;
    border: solid rgb(96, 93, 93) 2px;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: .75rem;
    box-shadow: .5rem 0.5rem .75rem rgba(9, 8, 8, 0.452);
    color: #EAE1DF ;
    position: relative;
    z-index: 1;
}

.createButton_listings span{
    width: 0%;
    height: 100%;
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #545e56ad;
    z-index: -1;
    transition: 0.35s ;
}
.createButton_listings:hover span{
    width: 100%;
}



.formLabels{
    font-size: 2rem;
    margin: .5rem;
    
}
.form-groupNew{
    margin-left: -4rem;
    
}
.provider_button{
    background-color: rgba(84, 94, 86, 0.582);
    border-radius: .5rem;
    border: solid rgba(0, 0, 0, 0.386) 2px;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: .75rem;
    box-shadow: .25rem 0.25rem .5rem rgba(9, 8, 8, 0.524);
    color: #EAE1DF ;
    margin: 2rem;
    position: relative;
    z-index: 1;
}

.provider_button span{
    width: 0%;
    height: 100%;
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #545e56ad;
    z-index: -1;
    transition: 0.5s ;
}
.provider_button:hover span{
    width: 100%;
}
.listing_number{
    display: flex;
    flex-direction: row-reverse;
}

    @media screen and (min-width: 800px) {
        .form-groupNew{
            margin-left: -4rem;
            padding-right: 9rem;
        }
    }